*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(kicks.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;

}
.nav-bar{
  display: flex;
  padding: 40px 120px;
}
.navlogo img{
  width: 90px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  margin-top: 1px;
  background-color: white;
  border:6px solid lightgray;
  border-radius: 5px;

}
.nav-links{
  flex: 1;
}
.nav-links ul{
  margin-left: 50px;
  display: inline;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}
.nav-links ul a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: yellow;
  display: block;
  margin: auto;
  transition: .3s;
}
.nav-links ul li:hover::after{
  width: 100%;
}


.btn{
  padding: 8px 15px;
  background: yellow;
  border: 0;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.nav-links .btn{
  float: right;
}
.banner-title{
  margin: 80px 130px;
  color: #fff;
}
.banner-title h1{
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-title h1 span{
  color: yellow;
}
.vertical-bar{
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
}

.serch-icons{
  width: 80px;
  height: 60%;

}
.serch-icons .fa{
  margin: 45px 23px;
  display: block;
  color: #fff;
  font-size: 30px;
  cursor: pointer;

}
.social-icons{
  height: 35%;
  width: 80px;
background: yellow;
text-align: center;
padding-top: 27%;
position: absolute;
bottom: 0;
}
.social-icons .fa{
  margin: 15px 23px;
  padding: 8px;
  display: block;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.notifications{
  width: 400px;
  display: flex;
  right: 0;
  bottom: 0;
  position: absolute;
  background: yellow;
  align-items: center;
}
.contents{
  flex-basis: 50%;
  padding: 10px;

}
.notifications-img{
  flex-basis: 50%;
}
.notifications-img img{
  width: 100%;
}
.contents a{
  text-decoration: none;
  color: #000;
  margin: 0px 10px;
  font-size: 13px;
}
.contents p{
  text-align: right;
  margin-top: 10px;
}
.nav-bar .fa{
  display: none;
}
@media (max-width: 700px) {
  .vertical-bar{
    display: none;
  }
  .banner-title{
    margin: 80px 40px;
  }
  .banner-title h1{
    font-size: 50px;
  }
  .notifications{
    width: 100%;
  }
  .nav-bar{
    padding: 10px 30px;
  }
  .fa-bars{
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav-bar .fa{
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links{
    height: 100vh;
    width: 200px;
    background: #000;
    top: 0;
    right: -200;
    position: absolute;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-links ul a{
    display: block;
  }
  .nav-links .btn{
    float: none;
    margin-left: 25px;
    margin-top: 10px;
  }
}



}
